# <!DOCTYPE html>
# <html lang="en">

<div class="board">
  <div class="row center">

    <div class="col-md-4">
      # <h2><%= game.square(0,0) %></h2> <!-- returns the value in square [0,0] -->
      <h2>hello</h2>
    </div>

    <div class="col-md-4 v">
      # <h2><%= game.square(0,1) %></h2>
      <h2> x </h2>
    </div>

    <div class="col-md-4">
      # <h2><%= game.square(0,2) %></h2>
      <h2>0</h2>
    </div>
    
  </div>
</div>